<div class="container-fluid">
<div class="row">
  <div class="span6" >
	<%= form_tag("search", method: "get") do %>
	  <%= label_tag(:q, "http://") %>
	  <%= text_field_tag(:q) %>
	  <%= submit_tag "Search", class: "btn btn-mid btn-primary" %>
	<% end %>
  </div>
</div>
</div>