
<div class="row">
  <div class="span6 offset3">
	<%= form_tag("search", method: "get") do %>
	  <%= label_tag(:q, "Search for:") %>
	  <%= text_field_tag(:q) %>
	  <%= submit_tag("Search") %>
	<% end %>
  </div>
</div>