<div class="container-fluid">
<div class="row-fluid">
 <div class="span3"></div>
  <div class="span6" id="source">
	<%= form_tag("search", method: "get") do %>
	  <%= label_tag(:q, "http://") %>
	  <%= text_field_tag(:q) %>
	  <%= submit_tag "Go", class: "btn btn-mid btn-primary" %>
	<% end %>
	<p> To view wiki pages in eye-friendly color themes, <br>
	please input a Wikisource/Wikibooks/Wikipedia/etc. url to start! <br>
	(e.g. en.wikisource.org/wiki/Anna_Karenina)</p>
	
	<p>I make this for myself to read the books at <strong>Wikisource</strong> on my smartphone. Complicated pages may not work good.</p>
	
	<p>Cookie is required.</p>

	</div>
   <div class="span3"></div>
</div>
</div>