@import "bootstrap";

body{
	padding-top: 30px;
	padding-bottom: 100px;
	background-color:#FFFFFF;
	font-size:16px;
}

h1 {
	margin: 30px;
}

.dropdown-menu { min-width: 50px; }

.dropdown-menu li{ 
margin-left: 5px;
margin-right: 5px;
 }

.font-menu button { width: 30px; }

.theme-menu button { width: 60px; }

/* input field */
#q{
	margin-top:9px;
}

#source {
	max-width:1024px;
	float: none;
	margin: 0 auto;
}

h1 {
	text-align: center;
}

label {
	display:inline;
}

.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}

#source p{
	line-height: 130%;
}

#source li{
	line-height: 120%;
}

#source p{
	padding-top: 20px;
}

#toc {
display: table;
border: 1px solid #AAAAAA;
padding: 7px;
}